{% extends "base.html" %}

{% block main %}
<h1 style="padding-left: 8%;">Properties</h1>
<div class = "card">
    
    {% for p in prop %}
        
            <div class =  "cards">
                <div class = mainimg >
                    <img src="{{ url_for('property_photo',imgname=''+p.photo) }}" >
                </div>
                <div class = "card-info">
                <h4>{{p.title}}</h4>
                <h6 class = "location"><img src = "/static/location.png" class ='pin'>      {{p.location}}</h6>
                <p class = "price">{{p.price}}</p>
                </div>
                <div class = "card-btn">
                    <a class = "property" href = "{{url_for('propid',propertyid=p.id)}}">View Property</a>
                </div>
                
            </div>
       
    {% endfor %}
</div>
{% endblock %}